* {
    box-sizing: border-box;
}

#app {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background: #222;
}

.header > * {
    color: #eee;
}

.header-turn {
    padding: 12px;
}

.header-status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
}

.header-restart {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.board {
    display: grid;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    background: #eee;
}

.board-tile {
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: cursive;
    color: #222;
}

.board-tile:hover {
    background: #eee;
}

.board-tile-winner {
    color: green;
}